flask                     3.0.2
gunicorn                  22.0.0
langchain-community       0.2.11
ollama                    0.3.1
ollama-python             0.1.2
transformers              4.44.1
torch                     2.4.0